[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggstatsplot"]
	path = ggstatsplot
	url = https://github.com/indrajeetpatil/ggstatsplot
[submodule "statsExpressions"]
	path = statsExpressions
	url = https://github.com/indrajeetpatil/statsexpressions
[submodule "vdiffr"]
	path = vdiffr
	url = https://github.com/r-lib/vdiffr
	registered = false
