[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggstatsplot"]
	path = ggstatsplot
	url = https://github.com/indrajeetpatil/ggstatsplot
	shallow = true
	registered = true
[submodule "statsExpressions"]
	path = statsExpressions
	url = https://github.com/indrajeetpatil/statsexpressions
	shallow = true
	registered = true
[submodule "datawizard"]
	path = datawizard
	url = https://github.com/easystats/datawizard
	shallow = true
	registered = false
[submodule "effectsize"]
	path = effectsize
	url = https://github.com/easystats/effectsize
	shallow = true
	registered = false
[submodule "insight"]
	path = insight
	url = https://github.com/easystats/insight
	shallow = true
	registered = false
[submodule "parameters"]
	path = parameters
	url = https://github.com/easystats/parameters
	shallow = true
	registered = false
[submodule "performance"]
	path = performance
	url = https://github.com/easystats/performance
	shallow = true
	registered = false
