[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "broomExtra"]
	path = broomExtra
	url = https://github.com/indrajeetpatil/broomextra
	shallow = true
[submodule "ggstatsplot"]
	path = ggstatsplot
	url = https://github.com/indrajeetpatil/ggstatsplot
	shallow = true
[submodule "groupedstats"]
	path = groupedstats
	url = https://github.com/indrajeetpatil/groupedstats
	shallow = true
[submodule "ipmisc"]
	path = ipmisc
	url = https://github.com/indrajeetpatil/ipmisc
	shallow = true
[submodule "kittyR"]
	path = kittyR
	url = https://github.com/indrajeetpatil/kittyr
	shallow = true
[submodule "pairwiseComparisons"]
	path = pairwiseComparisons
	url = https://github.com/indrajeetpatil/pairwisecomparisons
	shallow = true
[submodule "statsExpressions"]
	path = statsExpressions
	url = https://github.com/indrajeetpatil/statsexpressions
	shallow = true
[submodule "tidyBF"]
	path = tidyBF
	url = https://github.com/indrajeetpatil/tidybf
	shallow = true
[submodule "BayesFactor"]
	path = BayesFactor
	url = https://github.com/richarddmorey/BayesFactor
	shallow = true
	subdir = pkg/BayesFactor
